/* Navigation Bar */
.navbar {
    
    padding-top: 3rem;
    justify-content: space-between;
}

.grayPage{
    background-color: #dfe0e1;
}

/* All Page Elements */

.page{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
}

.page div{
    width: 92%;
    margin-top: 50px;
}


@media only screen and (max-device-width: 480px) {
    .navbar{
        justify-content: right;
        height: 10vh;
    }
  }