/* Navigation Bar */
.navbar {
    background-color: rgba(0, 0, 0, 0);
    padding-top: 3rem;
    justify-content: space-between;
}

.grayPage{
    background-color: #dfe0e1;
}

/* All Page Elements */

.page{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
}

.page div{
    width: 92%;
    margin-top: 50px;
}

/* Our Story */

.quotes div {
    width: 75%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.quotes div:nth-child(2){
    margin-left: 25%;
    width: 60%;
}

.quotes div p:first-child{
    font-size: 4rem;
}

.quotes div p:nth-child(2){
    font-size: 1.5rem;
}

.story-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.story-box div {
    width: 40%;
}

#story-image{
    max-width: 50%;
    height: auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

@media only screen and (max-device-width: 480px) {
    .quotes div:nth-child(2){
        width: 100%;
        margin-left: 0;
    }
    .quotes div p:first-child{
        font-size: 2rem;
    }
    .quotes div {
        width: 100%;
    }
    .story-box {
        flex-direction: column;
    }
    #story-image{
      max-width: 100%;
    }
    .story-box div {
        width: 100%;
    }
  }