.imageBack {
    background-image: url('../public/capitalkiss.jpg');
    background-color: rgb(110, 110, 110);
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    background-blend-mode: multiply;
    color: white;
    width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.infoContainer {
    width: 100%;
    background-color: #dfe0e1;
    text-align: center;
    padding-top: 40px;
}

.infoContainer h1{
    margin-bottom: 80px;
    margin-top: 80px;
    font-size: 50px;
}

.messageBox {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 200px auto 0 auto;
    text-align: center;
}

.messageBox h1 {
    font-size: 72px;
}

.messageBox h2 {
    margin-top: 40px;
    font-size: 22px;
}

.locations {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.location{
    text-align: center;
    width: 30%;
}

.location button{
  width: 50%;
  min-height: fit-content;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 20px;
  border: none;
  margin-top: 30px;
}

.location h2{
    margin-bottom: 30px;
    font-size: 25px;
}

.location button:hover{
  background-color: rgb(29, 29, 29);
}

@media only screen and (max-width: 800px) {
    .location button{
        font-size: 10px;
      }
}


@media only screen and (max-device-width: 480px) {
    .imageBack {
        background-size: cover;
        background-position: 45% 50%;
    }
    .location button{
        font-size: 20px;
      }

    .messageBox {
        width: 90%;
    }

    .messageBox h1{
        font-size: 50px;
    }

    .locations{
        flex-direction: column;
        margin-bottom: 0;
    }

    .location{
        width: 100%;
        margin-bottom: 100px;
    }
}